<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.techouse.alfred-convert</string>
	<key>connections</key>
	<dict>
		<key>2F6849DA-7BAF-42CB-8502-EA7F75606985</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF31843F-F908-4B26-BA46-A24A1C902306</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>572C1CAB-814A-4C59-8D8C-04C69F788090</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Only copy to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>572C1CAB-814A-4C59-8D8C-04C69F788090</key>
		<array/>
		<key>DF31843F-F908-4B26-BA46-A24A1C902306</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>663E877B-ABDD-4AE3-97E1-CB0E6122C6D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D850B7E1-B6F7-4A5E-8EF6-522CBF4E0A21</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>207C6354-422F-4E46-8D70-34A3B0D8EC97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>951AA20A-5B2D-4C8A-885A-95BE6660EAD0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>08197387-E06B-422D-9BEB-41E76651D350</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AE48C113-0A75-4597-859D-26959DA44FAC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1BBB07BA-11B1-4386-AB63-A9CB78D9A1A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Klemen Tušar</string>
	<key>description</key>
	<string>Convert between different units</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Convert</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>arch -x86_64 ./workflow -u</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>663E877B-ABDD-4AE3-97E1-CB0E6122C6D0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>207C6354-422F-4E46-8D70-34A3B0D8EC97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>update:workflow</string>
						<key>outputlabel</key>
						<string>Update Workflow</string>
						<key>uid</key>
						<string>D850B7E1-B6F7-4A5E-8EF6-522CBF4E0A21</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^https?:\/\/(www.)?xe.com\/.*$</string>
						<key>outputlabel</key>
						<string>Open Xe.com</string>
						<key>uid</key>
						<string>951AA20A-5B2D-4C8A-885A-95BE6660EAD0</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^https?:\/\/(www.)?wolframalpha.com\/.*$</string>
						<key>outputlabel</key>
						<string>Open WolframAlpha.com</string>
						<key>uid</key>
						<string>AE48C113-0A75-4597-859D-26959DA44FAC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Copy to Clipboard</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DF31843F-F908-4B26-BA46-A24A1C902306</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>conv</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Working ...</string>
				<key>script</key>
				<string>case "{query}" in
	"money") 
		arch -x86_64 ./workflow -C
		;;
	"units")
		arch -x86_64 ./workflow -U
		;;
	"update:workflow")
		arch -x86_64 ./workflow -u
		;;
	*)
		arch -x86_64 ./workflow -q "{query}"
		;;
esac</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Convert between different units</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2F6849DA-7BAF-42CB-8502-EA7F75606985</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>08197387-E06B-422D-9BEB-41E76651D350</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>572C1CAB-814A-4C59-8D8C-04C69F788090</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query} </string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1BBB07BA-11B1-4386-AB63-A9CB78D9A1A9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>In order to set a default currency, you can set the environment variable `home_currency`.

Valid values are the ISO 4217 currency codes: 

AUD, BGN, BRL, CAD, CHF, CNY, CZK, DKK, EUR, GBP, HKD, HUF, IDR, ILS, INR, ISK, JPY, 
KRW, MXN, MYR, NOK, NZD, PHP, PLN, RON, RUB, SEK, SGD, THB, TRY, USD, ZAR.</string>
	<key>uidata</key>
	<dict>
		<key>08197387-E06B-422D-9BEB-41E76651D350</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>1BBB07BA-11B1-4386-AB63-A9CB78D9A1A9</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>207C6354-422F-4E46-8D70-34A3B0D8EC97</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>2F6849DA-7BAF-42CB-8502-EA7F75606985</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>572C1CAB-814A-4C59-8D8C-04C69F788090</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>663E877B-ABDD-4AE3-97E1-CB0E6122C6D0</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>DF31843F-F908-4B26-BA46-A24A1C902306</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>home_currency</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>home_currency</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
